.login-box,
.register-box {
  width: 300px;
  padding: 40px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.login-box form,
.register-box form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-register-container{
  display: flex;
  gap: 30px;
}

.login-box h2,
.register-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #333;
  text-align: center;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  transition: 0.5s;
  pointer-events: none;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #007bff;
  font-size: 12px;
}

button[type="submit"] {
  display: inline-block;
  background: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background: #0056b3;
}

.home-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 100%;
  gap: 40px;
}

.home-header {
  text-align: center;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.kanban-state {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}

.kanban-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.kanban-state-text, .kanban-description-header {
  text-align: center;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.kanban-state img {
  width: 500px;
  object-fit: contain;
}

.container {
  display: flex;
  gap: 70px;
}

.home-right-side{
  width: 50%;
  display: flex;
  justify-content: center;
}

.toggle_label {
  margin-left: auto;
}

.toggle_label a{
  color: #5a5a5a;
  font-weight: 700;
}

.toggle_label a:hover {
  color: #007bff;
}