#root {
  display: flex;
  align-items: center;
  height: 100vh;
  background: #c6e2ff;
  background-size: cover;
  padding: 0 30px;
}

.App {
  display: flex;
  align-items: center;
  height: 85vh;
  width: 100%;
  background: #1D1D1D;
  gap: 20px;
  padding: 25px;
  border-radius: 15px;
}

